.boton-contenedor {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: whitesmoke;
    border-radius: 25px;
    border: 2px solid whitesmoke;
    margin: 4px;
    cursor: pointer;
    user-select: none;
    flex: 1 1;
}

.boton-contenedor:hover {
    background-color: #5a01a7;
    color: blanchedalmond;
    font-size: 40px;
}

.operador {
    background-color: #00471b;
}

.operador:hover {
    background-color: orangered;
}

